div {
  content: "eg";
}
header#header {
  padding: 0px;
  width: 100%;
  height: 150px;
  background: #52aa8af2;
}
header#header div.row #logo-section a.logo-link .website-logo {
  max-height: 150px;
  display: block;
}
header#header div.row #logo-section a.logo-link .header-logo-site-name {
  color: gold;
}
.custom {
  color: white;
}
body {
  background-image: url(https://images.pexels.com/photos/1033729/pexels-photo-1033729.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #32cd32;
  transition: all ease-in-out 0.3s;
}
a:hover {
  text-decoration: none;
}
html body {
  margin: 0;
  padding: 0;
}
div {
  padding: 0;
}
