<header id="header">
    <div class="row header-info">
        <div class="address col-sm-8">
            <span class="address-business-name klan-v-line">Belize Vip Transfers and Tours</span>
           
            <span class="address-street klan-v-line">Corozal-Progresso Road</span>
            <span class="address-city-district-country ">Corozal South End, Corozal, Belize</span>
        </div>
        <div class="header-contact col-sm-4 klan-text-align--right">
            <a class="header-phone" title="call us at (501) 422-2725" href="tel:5014222725">
                <i class="fa fa-phone-square"></i> 
                <span class="klan-v-line">501-422-2725</span>
            </a>
            <a class="header-email" title="send us an email at info@belizetransfers.com" href="mailto:info@belizetransfers.com">
                <i class="fa fa-envelope"></i> 
                <span>info@belizetransfers.com</span>
            </a>
        </div>
        <!--
        <div class="header-social col-sm-4">
            <a class="facebook-icon" href="https://www.facebook.com/Belize-VIP-Transfer-Services-173302426022279" target="_blank">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a class="instagram-icon" href="https://www.instagram.com/belizeviptransfers/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="twitter-icon" href="#">
                <i class="fa fa-twitter-square"></i>
            </a>
            <a class="youtube-icon" href="#">
                <i class="fa fa-youtube-square"></i>
            </a>
        </div>-->
    
        </div>
        <div class="row header-logo-section">
            <div class="col-sm-4">
                <!--award 1-->
            </div>
            <div class="logo-con col-sm-4 klan-text-align--center">
                <a href="/" title="Home | Belize VIP Transfers and Tours" class="website-logo-link"> 
                    <img src="/images/belizeTransfers_logo_main_fix.png" alt="Belize VIP Transfers and Tours">
                </a>
               
            </div>
            <div class="col-sm-4">
                <!--award 2-->
            </div>
    </div> 
</header>
<%include sidenav.ejs %>