//Text based color theme
@font-color-primary:white;
@font-color-secondary: black;
@font-color-tertiary: #32cd32;


//background based color theme
@bg-color-primary:#3aaed8;
@bg-color-secondary: #52aa8a;
@bg-color-secondary-transparent:#52aa8af2;
@bg-color-dark: #424342;
