header#header{
    padding: 0px;
    width: 100%;
    height: 150px; 
    position: fixed;
    z-index: 9999;
    //background: @bg-color-secondary-transparent;
    background: black;

    div.row{
        background-color: @bg-color-dark;
        max-height: 25px;
        height: 20px;
    }
}
