header#header{
    padding: 0px;
    width: 100%;
    height: 150px; 
    background: @bg-color-secondary-transparent;

    div.row{
        #logo-section{
            a.logo-link{
                .website-logo{
                    max-height: 150px;
                    display: block;
                }
                .header-logo-site-name{
                    color:gold;
                }
            }
        }
    }
}
